
<div class="formBox col-md-12 center scroll-div" style="margin-top: 10px;;">
    <h3 style="text-align: center; font-family: BYekan;">گزارش کمیتی مشترکان</h3>
    <table align="center" class="formTable" style="direction: rtl; ">
        <tr style="background-color:#41709c; color: white;">
            <th>بخش:</th>
            <td>نوع</td>
            <td>کل درخواست ها</td>
            <td>در حال انتظار</td>
            <td>منتظر امضای مشترک</td>
            <td>منتظر امضای اپراتور</td>
            <td>منتظر معرفی نماینده</td>
            <td>آماده درخواست سرویس</td>
            <td>شهرهای فازهای بعدی </td>
            <td>جمع</td>
        </tr>
        <tr>
            <th rowspan="8">دانشگاه ها</th>
            <td>دانشگاه‌های دولتی مورد تایید وزارت علوم,تحقیقات و فناوری</td>
            <td>{{total[0]}}</td>
            <td>{{a[0]}}</td>
            <td>{{b[0]}}</td>
            <td>{{c[0]}}</td>
            <td>{{d[0]}}</td>
            <td>{{e[0]}}</td>
            <td>0</td>
            <td rowspan="8">{{sum[0]}}</td>
        </tr>

        <tr>
            <td>دانشگاه‌های دولتی مورد تایید وزارت بهداشت و درمان و آموزش پزشکی</td>
            <td>{{total[1]}}</td>
            <td>{{a[1]}}</td>
            <td>{{b[1]}}</td>
            <td>{{c[1]}}</td>
            <td>{{d[1]}}</td>
            <td>{{e[1]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>دانشگاه‌های غیر‌دولتی(غیر انتفاعی)</td>
            <td>{{total[2]}}</td>
            <td>{{a[2]}}</td>
            <td>{{b[2]}}</td>
            <td>{{c[2]}}</td>
            <td>{{d[2]}}</td>
            <td>{{e[2]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>دانشگاه آزاد اسلامی و واحدهای آن</td>
            <td>{{total[3]}}</td>
            <td>{{a[3]}}</td>
            <td>{{b[3]}}</td>
            <td>{{c[3]}}</td>
            <td>{{d[3]}}</td>
            <td>{{e[3]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>دانشگاه پیام نور و مراکز و واحدهای آن</td>
            <td>{{total[4]}}</td>
            <td>{{a[4]}}</td>
            <td>{{b[4]}}</td>
            <td>{{c[4]}}</td>
            <td>{{d[4]}}</td>
            <td>{{e[4]}}</td>
            <td>0</td>

        </tr>

        <tr>
            <td>سایر</td>
            <td>{{total[5]}}</td>
            <td>{{a[5]}}</td>
            <td>{{b[5]}}</td>
            <td>{{c[5]}}</td>
            <td>{{d[5]}}</td>
            <td>{{e[5]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>مراکز و موسسات آموزش علمی و کاربردی با کد مستقل</td>
            <td>{{total[6]}}</td>
            <td>{{a[6]}}</td>
            <td>{{b[6]}}</td>
            <td>{{c[6]}}</td>
            <td>{{d[6]}}</td>
            <td>{{e[6]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>مراکز و موسسات آموزش علمی و کاربردی با کد مرکز</td>
            <td>{{total[7]}}</td>
            <td>{{a[7]}}</td>
            <td>{{b[7]}}</td>
            <td>{{c[7]}}</td>
            <td>{{d[7]}}</td>
            <td>{{e[7]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <th rowspan="5">حوزه علمیه</th>
            <td>حوزه‌های علمیه مورد تایید مرکز مدیریت حوزه‌های علمیه قم</td>
            <td>{{total[8]}}</td>
            <td>{{a[8]}}</td>
            <td>{{b[8]}}</td>
            <td>{{c[8]}}</td>
            <td>{{d[8]}}</td>
            <td>{{e[8]}}</td>
            <td>0</td>
            <td rowspan="5">{{sum[1]}}</td>
        </tr>

        <tr>
            <td>حوزه‌های علمیه مورد تایید مرکز مدیریت حوزه‌های علمیه خواهران</td>
            <td>{{total[9]}}</td>
            <td>{{a[9]}}</td>
            <td>{{b[9]}}</td>
            <td>{{c[9]}}</td>
            <td>{{d[9]}}</td>
            <td>{{e[9]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>حوزه‌های علمیه مورد تایید مرکز مدیریت حوزه‌های علمیه اصفهان</td>
            <td>{{total[10]}}</td>
            <td>{{a[10]}}</td>
            <td>{{b[10]}}</td>
            <td>{{c[10]}}</td>
            <td>{{d[10]}}</td>
            <td>{{e[10]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <td>حوزه‌های علمیه مورد تایید مرکز مدیریت حوزه‌های علمیه خراسان</td>
            <td>{{total[11]}}</td>
            <td>{{a[11]}}</td>
            <td>{{b[11]}}</td>
            <td>{{c[11]}}</td>
            <td>{{d[11]}}</td>
            <td>{{e[11]}}</td>
            <td>0</td>
        </tr>
        <tr>
            <td>حوزه‌های علمیه مورد تایید مرکز مدیریت حوزه‌های علمیه اهل سنت</td>
            <td>{{total[12]}}</td>
            <td>{{a[12]}}</td>
            <td>{{b[12]}}</td>
            <td>{{c[12]}}</td>
            <td>{{d[12]}}</td>
            <td>{{e[12]}}</td>
            <td>0</td>
        </tr>


        <tr>
            <th rowspan="3">مراکز پژوهشی و تحقیقاتی</th>
            <td>مراکز پژوهشی مورد تایید وزارت علوم,تحقیقات و فناوری</td>
            <td>{{total[13]}}</td>
            <td>{{a[13]}}</td>
            <td>{{b[13]}}</td>
            <td>{{c[13]}}</td>
            <td>{{d[13]}}</td>
            <td>{{e[13]}}</td>
            <td>0</td>
            <td rowspan="3">{{sum[2]}}</td>
        </tr>
        <tr>
            <td>مراکز پژوهشی مورد تایید وزارت بهداشت و درمان و آموزش پزشکی</td>
            <td>{{total[14]}}</td>
            <td>{{a[14]}}</td>
            <td>{{b[14]}}</td>
            <td>{{c[14]}}</td>
            <td>{{d[14]}}</td>
            <td>{{e[14]}}</td>
            <td>0</td>
        </tr>
        <tr>
            <td>مراکز پژوهشی مورد تایید مرکز مدیریت حوزه های علمیه</td>
            <td>{{total[15]}}</td>
            <td>{{a[15]}}</td>
            <td>{{b[15]}}</td>
            <td>{{c[15]}}</td>
            <td>{{d[15]}}</td>
            <td>{{e[15]}}</td>
            <td>0</td>
        </tr>

        <tr>
            <th rowspan="2"> مراکز آموزشی و درمانی </th>
            <td>مراکز آموزشی و درمانی دولتی</td>
            <td>{{total[16]}}</td>
            <td>{{a[16]}}</td>
            <td>{{b[16]}}</td>
            <td>{{c[16]}}</td>
            <td>{{d[16]}}</td>
            <td>{{e[16]}}</td>
            <td>0</td>
            <td rowspan="2">{{sum[3]}}</td>
        </tr>

        <tr>
            <td> مراکز آموزشی و درمانی غیر دولتی</td>
            <td>{{total[15]}}</td>
            <td>{{a[17]}}</td>
            <td>{{b[17]}}</td>
            <td>{{c[17]}}</td>
            <td>{{d[17]}}</td>
            <td>{{e[17]}}</td>
            <td>0</td>
        </tr>


        <tr style="color: lightslategrey;">
            <th rowspan="1">کتابخانه ها </th>
            <td>-</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td rowspan="1">0</td>
        </tr>

        <tr style="color: lightslategrey;">
            <th rowspan="5">اشخاص حقیقی </th>
            <td>دانشجویان</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td rowspan="5">0</td>
        </tr>
        <tr style="color: lightslategrey;">
            <td>استادان</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr style="color: lightslategrey;">
            <td>طلاب</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr style="color: lightslategrey;">
            <td>پژوهشگران</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr style="color: lightslategrey;">
            <td>دانش آموختگان</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr style="background-color:#4fc1f3; color: white;">
            <th colspan="2">جمع کل </th>

            <td colspan="9">{{totalsum}} </td>
        </tr>
    </table>


    <img style="float:right; margin-right: 150px;" src="././assets/images/print.png" onclick="myFunction()">

</div>