<div class="panel-container" [class.panel-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="panel-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="#" style="cursor: pointer; padding-bottom: 0px; padding-top: 0px;">
      <img src="assets/images/logo-s.png" style="max-height: -webkit-fill-available;">
    </a>
    <div class="navbar-left mr-auto">
      <a class="nav-link" tabindex="-1" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="خروج">
        <img src="assets/images/log-out.png" (click)="onLogout()">
      </a>
      <a ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
          <img src="assets/images/bell-with-notification.png">
        </a>

        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="text-center" style="font-weight: bold;">شما 2 پیام جدید دارید</p>
          <a class="dropdown-item text-right" href="#"> وضعیت دانشگاه شهید چمران اهواز به بررسی شناسه ملی تغییر کرد</a>
          <a class="dropdown-item text-right" href="#">دانشگاه صنعتی شریف یک درخواست سرویس جدید ثبت کرد</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-right" href="#" style="color: #5c8ed4;">مشاهده تمام پیام ها</a>
        </div>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="panel-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="panel-sidenav" #snav position="end" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [(opened)]="opened">
      <mat-nav-list class="side-nav-list-class" >
        <a mat-list-item routerLink="{{nav.url}}" *ngFor="let nav of fillerNav" >
          <p style="text-align: right; margin-top: 1rem;">
            <span matBadge={{nav.badge}} matBadgeOverlap="false" matBadgePosition="before" matBadgeColor="warn" *ngIf="nav.badge!=0">{{nav.name}}</span>
            <span *ngIf="nav.badge==0">{{nav.name}}</span>

          </p>
        </a>
        <mat-accordion style="text-align: right;" >

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" style=" background-color: rgb(192, 220, 222); box-shadow: none; padding-right: 0px;">
            <mat-expansion-panel-header style="padding-right: 0px;">
              <mat-panel-title>
                امور مشترکین
              </mat-panel-title>
              <mat-panel-description >

              </mat-panel-description>
            </mat-expansion-panel-header>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/report-subs' ]" >گزارش کمیت مشترکین</a><br></div>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/uni-reports/0' ]" >دانشگاه ها و مراکز آموزش عالی</a><br></div>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/uni-reports', 1 ]">حوزه علمیه</a><br></div>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/uni-reports/2' ]" >مراکز پژوهشی و تحقیقاتی</a><br></div>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/uni-reports/3' ]" >مراکز زیر نظر وزارت بهداشت</a></div>
           <div class="subMenu"><a [routerLink]="[ '/owner/home/uni-reports/4' ]" >مشترکان استان</a></div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="panel-sidenav-content">

      <mat-toolbar class="content-top">
        <h1 class="main-page-title">{{pageType}}</h1>
      </mat-toolbar>
      <main class="content">
        <router-outlet></router-outlet>
      </main>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer class="panel-footer">
    <p class="panel-footer-content">کلیه حقوق مادی ومعنوی محتوا و اطلاعات موجود در سایت طبق قوانین حمایت از مولفین و مصنفین و قوانین حق کپی رایت ایران و بین المللی متعلق است به اپراتور شبکه علمی ایران (فاوا یا نفت مسئله این است : 1394 – 1404)
        این نرم افزار توسط شرکت سامانه های هوشمند سیمرغ طراحی ، پیاده سازی ، پشتیبانی و راهبری کامل گردیده و حق امتیاز آن به شرکت سامانه های هوشمند سیمرغ تعلق دارد.</p>
  </footer>

</div>
