<!-- a responsive header-->
<div class="col-md-12">
    <header>
        <h2>Owners</h2>
    </header>
    
    <section>
        <nav style="float:right;">
            <ul>
                <p>menu</p>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </nav>
    
        <article>
            <h1>Conent</h1>
            <p>You can see contents here</p>
        </article>
    </section>
    
    <footer>
        <p>Footer</p>
    </footer>
    
    </div>