<div id="formbody">
    <form [formGroup]="service.formModelPasswors" (submit)="onSubmit()">
        <h3 class="heading">تغییر کلمه عبور</h3>
        <div class="form-group">
            <label>رمز عبور قدیمی</label>
            <input type="password" class="form-control" formControlName="OldPassword"
                placeholder="رمز عبور قدمی را وارد نمایید">
            <label class="text-danger"
                *ngIf="service.formModelPasswors.get('OldPassword').touched && service.formModelPasswors.get('OldPassword').errors?.required">لطفا
                رمز عبور قدیمی را وارد نمایید</label>
        </div>
        <div formGroupName="Passwords">
            <div class="form-group ">
                <label>رمز عبور </label>
                <input type="password" class="form-control" formControlName="Password" placeholder="رمز عبور جدید را وارد نمایید">
                <label class="text-danger"
                    *ngIf="service.formModelPasswors.get('Passwords.Password').touched && service.formModelPasswors.get('Passwords.Password').errors?.required">رمز
                    عبور نمیتواند خالی باشد</label>
                <label class="text-danger"
                    *ngIf="service.formModelPasswors.get('Passwords.Password').touched && service.formModelPasswors.get('Passwords.Password').errors?.minlength">حداقل
                    باید 4 کارامتر باشد</label>
            </div>
            <div class="form-group ">
                <label>تایید رمز عبور</label>
                <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="رمز عبور جدید را تکرار نمایید">
                <label class="text-danger"
                    *ngIf="service.formModelPasswors.get('Passwords.ConfirmPassword').touched && service.formModelPasswors.get('Passwords.ConfirmPassword').errors?.required">رمز
                    عبور نمیتواند خالی باشد </label>
                <label class="text-danger"
                    *ngIf="service.formModelPasswors.get('Passwords.ConfirmPassword').touched && service.formModelPasswors.get('Passwords.ConfirmPassword').errors?.passwordMismatch">رمز
                    عبور مطابقط ندارد</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
</div>