<div class="panel-container" [class.panel-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="panel-toolbar">
      
      <a class="navbar-brand" href="#" style="cursor: pointer; padding-bottom: 0px; padding-top: 0px;">
        <img src="assets/images/logo-s.png" style="max-height: -webkit-fill-available;">
      </a>
     
    </mat-toolbar>
  
    <mat-sidenav-container class="panel-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
     
  
      <mat-sidenav-content class="panel-sidenav-content">
  
       
        <main class="content">
          
            <div class="container-fluid" dir="rtl" style="text-align: right;">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-xs-12 main">
                        <div class="page-header">
                            <h1>تغییر رمز عبور</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 well">
                                <form id="form" [formGroup]="service.formModelPasswors" (submit)="onSubmit()">
                                    <div class="form-inputs">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4" for="current_password">رمز عبور
                                                قدیمی</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input id="current_password" type="password" class="form-control"
                                                    formControlName="OldPassword" placeholder="رمز عبور قدیمی را وارد نمایید">
                                                <label class="text-danger"
                                                    *ngIf="service.formModelPasswors.get('OldPassword').touched && service.formModelPasswors.get('OldPassword').errors?.required">لطفا
                                                    رمز عبور قدیمی را وارد نمایید</label>
                                            </div>
            
                                        </div>
                                        <div formGroupName="Passwords">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-4" for="new_password">رمز عبور
                                                    جدید</label>
                                                <div class="col-sm-9 col-md-8">
                                                    <input id="new_password" type="password" class="form-control"
                                                        formControlName="Password" placeholder="رمز عبور جدید را وارد نمایید">
                                                    <label class="text-danger"
                                                        *ngIf="service.formModelPasswors.get('Passwords.Password').touched && service.formModelPasswors.get('Passwords.Password').errors?.required">رمز
                                                        عبور نمیتواند خالی باشد</label>
                                                    <label class="text-danger"
                                                        *ngIf="service.formModelPasswors.get('Passwords.Password').touched && service.formModelPasswors.get('Passwords.Password').errors?.minlength">حداقل
                                                        باید 4 کارامتر باشد</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-4" for="password_confirmation">تکرار رمز
                                                    عبور</label>
                                                <div class="col-sm-9 col-md-8">
                                                    <input class="form-control" id="confirm_password" type="password"
                                                        formControlName="ConfirmPassword"
                                                        placeholder="رمز عبور جدید را تکرار نمایید">
            
                                                    <label class="text-danger"
                                                        *ngIf="service.formModelPasswors.get('Passwords.ConfirmPassword').touched && service.formModelPasswors.get('Passwords.ConfirmPassword').errors?.required">رمز
                                                        عبور نمیتواند خالی باشد </label>
                                                    <label class="text-danger"
                                                        *ngIf="service.formModelPasswors.get('Passwords.ConfirmPassword').touched && service.formModelPasswors.get('Passwords.ConfirmPassword').errors?.passwordMismatch">رمز
                                                        عبور مطابقط ندارد</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
  
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
    <footer class="panel-footer">
      <p class="panel-footer-content">کلیه حقوق مادي ومعنوي محتوا و اطلاعات موجود در سایت طبق قوانین حمایت از مولفین و مصنفین و قوانین حق کپی رایت ایران و بین المللی متعلق است به اپراتور شبکه علمی ایران (فاوا یا نفت مسئله این است : 1394 – 1404)
        این نرم افزار توسط شرکت سامانه های هوشمند سیمرغ طراحی ، پیاده سازي ، پشتیبانی و راهبري کامل گردیده و حق امتیاز آن به شرکت سامانه های هوشمند سیمرغ تعلق دارد.</p>
    </footer>
  
  </div>
  

