<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <div class="card card-user">
            <div class="card-body" style="direction: rtl;">
                <div class="row">
                    <div class="col-md-1" style="text-align: center;">
                    </div>
                    <div class="col-md-10" style="text-align: center;">
                        <form>
                            <div class="card card-user">
                                <div class="card-body" style="direction: rtl;">
                                    <div class="row" style="margin-top: 15px;">
                                        <p style="margin-right: 20px;">قرارداد امضا شده:</p>
                                        <a style="cursor: pointer;">
                                            <input type="file" #file placeholder="Choose file"
                                                (change)="uploadFile(file.files)" style="display:none;">
                                            <img src="assets/images/file-choose.png"
                                                style="width: 25px; margin-right: 5px;" (click)="file.click()">
                                        </a>
                                        <input type="text" class="form-control" placeholder="{{ta}}"
                                            id="formGroupExampleInput" name="title"
                                            style="width: 70%;margin-right: 5px;border-color: black;">
                                            <span style="color: black;margin-right: 10px; " class="upload" *ngIf="progress > 0">
                                                {{progress}}%
                                              </span>
                                              <span style="color: black;margin-right: 10px;" class="upload" *ngIf="message">
                                                {{message}}
                                              </span> 
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <p style="margin-right: 20px;">نامه روکش:</p>
                                        <a style="cursor: pointer;">
                                            <input type="file" #filee placeholder="Choose file"
                                                (change)="uploadFile1(filee.files)" style="display:none;">
                                            <img src="assets/images/file-choose.png"
                                                style="width: 25px; margin-right: 5px;" (click)="filee.click()">
                                        </a>
                                        <input type="text" class="form-control" placeholder="{{tb}}"
                                            id="formGroupExampleInput" name="title"
                                            style="width: 70%;margin-right: 5px;border-color: black;">
                                            <span style="color: black;margin-right: 10px; " class="upload" *ngIf="progress > 0">
                                                {{progress1}}%
                                              </span>
                                              <span style="color: black;margin-right: 10px;" class="upload" *ngIf="message">
                                                {{message1}}
                                              </span> 
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <p style="margin-right: 20px;">رسید پستی:</p>
                                        <a style="cursor: pointer;">
                                            <input type="file" #fileee placeholder="Choose file"
                                                (change)="uploadFile2(fileee.files)" style="display:none;">
                                            <img src="assets/images/file-choose.png"
                                                style="width: 25px; margin-right: 5px;" (click)="fileee.click()">
                                        </a>
                                        <input type="text" class="form-control" placeholder="{{tc}}"
                                            id="formGroupExampleInput" name="title"
                                            style="width: 70%;margin-right: 5px;border-color: black;">
                                            <span style="color: black;margin-right: 10px; " class="upload" *ngIf="progress > 0">
                                                {{progress2}}%
                                              </span>
                                              <span style="color: black;margin-right: 10px;" class="upload" *ngIf="message">
                                                {{message2}}
                                              </span> 
                                    </div>
                                    <div class="row" style="margin-right: 20px;margin-top: 30px;">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <p style="margin-right: 30px;"> آیا نامه الکترونیکی به مشترک ارسال شود؟</p>
                                    </div>
                                    <div class="row" style="text-align: left;">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary" (click)="upload()" type="submit"
                                                value="تایید"
                                                style="margin-bottom: 2%;margin-left: 5%;background-color: #2f9fd3;width: 100px;height: 30px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>