<div class="row">
    <div class="col-md-12" style="text-align: center;">
      <div class="card card-user">
        <div class="card-body" style="direction: rtl;">
         <div class="row mb-3">
  <div class="col-md-7" *ngFor="let item of AllTickets; let i = index" style="padding: 3px;">
      <div class="card shadow" style="direction: rtl;border-radius: 20px;" [ngStyle]="{'background-color':get(i)}" >
          <div class="card-body">
              <div class="row text-center">
                  <div class="col-md-4" style="text-align: right;">
                    <div class="row">
                      <h5>درخواست دهنده: </h5>
                      <p>{{item.person.firstName}}  {{item.person.lastName}}</p>
                    </div>
                    <div class="row">
                      <h5>تاریخ درخواست: </h5>
                      <p>{{item.dateOfCreation}}</p>
                    </div>
                 
                  </div>
                  <div class="col-md-4">
                  <div class="row">
                    <h5>پیام های خوانده نشده: </h5>
                    <p style="color: red;">{{item.unseenNumber}}</p>
                  </div>
                  <div class="row">
                    <h5 style="background-color: gray;padding: 3px;color: white;" *ngIf="item.status == 1">فوریت:
                      عادی
                    </h5>
                    <h5 style="background-color: #f98d3f;padding: 3px;color: white;" *ngIf="item.status == 2">فوریت:
                      فوری
                    </h5>
                    <h5 style="background-color: red;padding: 3px;color: white;" *ngIf="item.status == 3">فوریت:
                      آنی
                    </h5>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="sub-row">
                        <button type="button" class="btn btn-warning btn-sm btn-block"   (click)=" pagenav(item.developerTicket_ID)" style="background-color: #00aeff;margin-top: 50px;color: white;">مشاهده گفت و گو</button>
                    </div>
                </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3"></div>
      </div>
        </div>
      </div>
    </div>
  </div>
  