<div class="col-md-12" style="height: 100vh; background-color: #455562; padding: 10px;">
  <div class="col-md-12 d-flex flex-column bd-highlight mb-3" style="height: 100%; background-color: white;">
    <div class="row header" style="height: 8vh; background-color: #d8e9ea;">
      <div class="col-md-12" style="padding: 0px;">
        <nav class="navbar navbar-expand navbar-dark" style="padding-top: 0px; padding-bottom: 0px;">


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">
                  <img src="../../../../assets/images/log-out.png">
                </a>
              </li>
              <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../../../assets/images/bell-with-notification.png">
                </a>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <p class="text-center" style="font-weight: bold;">شما 2 پیام جدید دارید</p>
                  <a class="dropdown-item text-right" href="#"> وضعیت دانشگاه شهید چمران اهواز به بررسی شناسه ملی تغییر کرد</a>
                  <a class="dropdown-item text-right" href="#">دانشگاه صنعتی شریف یک درخواست سرویس جدید ثبت کرد</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-right" href="#" style="color: #5c8ed4;">مشاهده تمام پیام ها</a>
                </div>
              </li>

            </ul>

            <a class="navbar-brand" href="#" style="padding-bottom: 0px; padding-top: 0px;">
              <img src="../../../../assets/images/logo-s.png" style="max-height: 8vh;">
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <button style="background-color: transparent; border: 1px solid transparent;">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      </div>
    </div>

    <div class="row body" style="height: 87vh; background-color: #c0dcde;">
      <div class="col-md-2 order-last d-none d-md-block">

        side
      </div>
      <div class="col-md-10 order-first">
        <div class="row justify-content-center" style="height: 8%;">
          <p style="font-size: 4vh; font-family: 'Times New Roman', Times, serif;">Developer</p>
        </div>
        <div class="col-11" style="height: 87%; background-color: white;margin-left: 3%; margin-right: 3%;">
          inside main
        </div>
      </div>
    </div>
    <div class="row footer mt-auto align-items-center" style="background-color: #d8e9ea; height: 5vh;">
      footer
    </div>
  </div>
</div>
