<!-- a responsive header-->
<div class="col-md-12">
    <header>
        <h2>Developers</h2>
    </header>

    <section>
        <nav style="float:right;">
            <ul>
                <p>menu</p>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </nav>

        <article>

           


            <table style="align-self: center;text-align: center;">


                <tr style="align-items: center;">

                    <td>
                        <h3 style="float: center;">نام کاربر</h3>
                    </td>

                    <td>
                        <h3 style="float: center;">{{info.adminName}}</h3>
                    </td>

                </tr>



                <tr style="align-items: center;">

                    <td>
                        <h3 style="float: center;">نام کاربری</h3>
                    </td>

                    <td>
                        <h3 style="float: center;">{{info.adminUsername}}</h3>
                    </td>

                </tr>





            </table>




        </article>
    </section>

    <footer>
        <p>Footer</p>

    </footer>

