<div class="panel-container" [class.panel-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="panel-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="#" style="cursor: pointer; padding-bottom: 0px; padding-top: 0px;">
      <img src="assets/images/logo-s.png" style="max-height: -webkit-fill-available;">
    </a>
    <div class="navbar-left mr-auto">
      <a class="nav-link nav-link-logout" (click)="onLogout()" tabindex="-1" style="cursor: pointer;">
        خروج
      </a>
      <a ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
          <img src="assets/images/test-img/notif.png" style="width: 30px;">
        </a>

        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="text-center" style="font-weight: bold;">شما 2 پیام جدید دارید</p>
          <a class="dropdown-item text-right" href="#"> وضعیت دانشگاه شهید چمران اهواز به بررسی شناسه ملی تغییر کرد</a>
          <a class="dropdown-item text-right" href="#">دانشگاه صنعتی شریف یک درخواست سرویس جدید ثبت کرد</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-right" href="#" style="color: #5c8ed4;">مشاهده تمام پیام ها</a>
        </div>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="panel-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="panel-sidenav" #snav position="end" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [(opened)]="opened">
      <mat-nav-list>
        <a mat-list-item routerLink="{{nav.url}}" *ngFor="let nav of fillerNav">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="panel-sidenav-content">

      <mat-toolbar class="content-top">
        <h1>Developer</h1>
      </mat-toolbar>
      <main class="content">
        <router-outlet></router-outlet>

      </main>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer class="panel-footer">
    <p class="panel-footer-content">sticky footer with variable height</p>
  </footer>

</div>
