<div class="col-md-12 table-container" dir="rtl">

  <div class="row search-form">
    <div>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="custNationalIDFilter" placeholder="شماره ملی مشترک">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="custNameFilter" placeholder="نام مشترک">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="custNationalID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> شماره ملی مشترک

        </th>
        <td mat-cell *matCellDef="let element"> {{element.custNationalID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="custName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> نام مشترک

        </th>
        <td mat-cell *matCellDef="let element"> {{element.custName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> عملیات </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/chat.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/close.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/edit.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/info.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/log.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/notif.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/plus.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/registered.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/trashbin.png" style="width: 30px;">
          </a>
          <a (click)="openDialog(element)">
            <img src="./../../../../assets/images/test-img/upload.png" style="width: 30px;">
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="paginator--centered" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>
