<div style=" width: 720px; height: 58px;border-radius: 10px;">
    <div class="row" >
        <div class="col-md-2" > 
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" style="width: 100px; color: #0067b8; background-color: lightgray; border-color: transparent; border-radius: 10px;" (click)="file.click()">آپلود فایل</button>
        </div>
          <span style="color: black; " class="upload">
            {{t}}
          </span> 
      </div>
    </div>  
