<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
   integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-6 message_section">
      <div class="row">

         <div class="chat_area" style="height: 500px;">
            <ul class="list-unstyled" *ngFor="let item of ChatTicketing; let i = index">
               <li class="left clearfix admin_chat">
                  <span class="chat-img1 pull-right">
                     <img src="assets/images/customer-flat-icon-vector-14992103.jpg" alt="User Avatar" style="width: 50px;height: 50px;"
                        class="img-circle" *ngIf="item.person.role1==3">
                     <img src="assets/images/118-512.png" alt="User Avatar" class="img-circle" style="width: 50px;height: 50px;"
                        *ngIf="item.person.role1==2">
                        <img src="assets/images/character-operator-call-center-computer-support-vector-14328772.jpg" alt="User Avatar" class="img-circle" style="width: 50px;height: 50px;"
                        *ngIf="item.person.role1==1">
                  </span>
                  <div class="chat-body1 clearfix">
                     <p style="text-align: right;">{{item.comment}}</p>
                     <div class="row">
                        <div class="chat_time pull-left">{{item.person.firstName}} {{item.person.lastName}}
                        </div>
                     </div>
                     <div class="row">
                        <div class="chat_time pull-left">{{item.commentTime}}</div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="message_write">
            <form>
               <div class="alert alert-danger" role="alert" style="text-align: center;" *ngIf="DangerAlertShow == 1">
                  لطفا متقاضی دریافت پیام را انتخاب کنید
               </div>
               <textarea class="form-control" placeholder="type a message" style="direction: rtl;" name="comment"
               [(ngModel)]="Ticket.comment"> </textarea>
               <div class="clearfix"></div>
               <div class="chat_bottom">
                  <a class="pull-right btn btn-success" (click)="post(Ticket)" *ngIf="ta == 1"  >
                    ارسال</a>
                  <a class="pull-right btn btn-success" (click)="postt(Ticket)" *ngIf="ta == 2">
                  ارسال</a>
                  <a class="pull-right btn btn-success" (click)="post(Ticket)" *ngIf="t == 4">
                     ارسال</a>
                  <select id="ddl" dir="rtl" style="width: 250px; border-radius: 20px;" (change)="getName($event.target.value)"
                     *ngIf="ta == 1 || t == 4" class="pull-right">
                     <option> متقاضی دریافت پیام را انتخاب کنید</option>
                     <option>مشتری</option>
                     <option *ngFor="let item of PersonForDropDownList; let i = index"
                        value="{{item.personNational_ID}}">{{item.firstName}} {{item.lastName}}</option>
                  </select>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

