<div id="form" dir="rtl">
    <form  autocomplete="off" >
      <h3 class="heading">  ویرایش کاربر </h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4"><span style="color: red;">*</span> نام</label>
          <input type="text" class="form-control" placeholder="نام" name="firstName" [(ngModel)]="staff.firstName">
          <label class="text-danger"
            *ngIf="service.formModel.get('FirstName').touched && service.formModel.get('FirstName').errors?.required">نام
            نمیتواند خالی باشد</label>

        </div>
        
        <div class="form-group col-md-6">
          <label for="inputEmail4"><span style="color: red;">*</span> نام خانوادگی</label>
          <input type="text" class="form-control"  placeholder="نام خانوادگی" name="lastName" [(ngModel)]="staff.lastName">
          <label class="text-danger"
            *ngIf="service.formModel.get('LastName').touched && service.formModel.get('LastName').errors?.required">نام
            خانوادگی نمیتواند خالی باشد</label>

        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">شماره شناسنامه</label>
          <input type="text" class="form-control" placeholder="شماره شناسنامه" name="shenasNum" [(ngModel)]="staff.shenasNum">
        </div>
        
        <div class="form-group col-md-6">
          <label for="inputPassword4">نام پدر</label>
          <input type="text" class="form-control" placeholder="نام پدر" name="fatherName" [(ngModel)]="staff.fatherName">

        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">آدرس</label>
        <input type="text" class="form-control" id="inputAddress"  placeholder="آدرس" name="address" [(ngModel)]="staff.address">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">تاریخ تولد</label>
          <input type="number" class="form-control"  placeholder="تاریخ تولد" name="birthDate" [(ngModel)]="staff.birthDate">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">شماره پرسنلی</label>
          <input type="text" class="form-control" placeholder="شماره پرسنلی" name="staffNumber" [(ngModel)]="staff.staffNumber">
        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">تلفن</label>
          <input type="text" class="form-control" placeholder="تلفن" name="teleNumber" [(ngModel)]="staff.teleNumber">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">رشته تحصیلی</label>
          <input type="text" class="form-control" placeholder="رشته تحصیلی" name="eduField" [(ngModel)]="staff.eduField">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">سمت</label>
          <input type="text" class="form-control" placeholder="سمت" name="positionId" [(ngModel)]="staff.positionId">
        </div>
        
        <div class="form-group col-md-6">
          <label for="inputEmail4">سریال شناسنامه</label>
          <input type="email" class="form-control"  placeholder="سریال شناسنامه" name="shenasSerial" [(ngModel)]="staff.shenasSerial">
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group col-md-6">
          <label for="inputPassword4">مدرک تحصیلی</label>
          <input type="text" class="form-control" placeholder="مدرک تحصیلی" name="eduDegree" [(ngModel)]="staff.eduDegree">
        </div>
      </div>

      
          <input type="hidden" class="form-control" name="personnationalid" [(ngModel)]="staff.personNationalId"  placeholder="شماره ملی">
          


      <button type="submit" class="btn btn-primary" (click)="edit(staff)" >ثبت</button>
    </form>
  </div>
